/timevalePdf_5.0_test/*.filters
ipch/
*.suo
*.obj
*.log
*.opensdf
*.sdf
*.pch
*.tlog
*.idb
*.pdb
*.ilk
*.res
*.exp
*.user
*.tlh
*.tli
*.cache
*.tlb
*.aps
*.lib
*_i.c
*_i.h
*_p.c
/out/debug/*
!/out/debug/xml
!/out/debug/skins
/out/release/
/TGDocParse/itextsharp1-5.4.5/bin/
*obj
*.exe
*.dll
TGTestAll/resources/out/
TGTestAll/resources/bomtest.xml/
/setup/
*tg_gmssl*